/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.container {

}

input[type="text"] {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border-color: #808080;
}

.search-form {
  
}

input[type="text"]:hover {
  border-color: #000000;
}

.search-btn {
width: 91px;
height: 40px;
color: #ffffff;
background-color: #4E75FF;
border: none;
border-radius: 8px;
margin-left: 8px;
}

.search-btn:hover {
  background-color: #6C8CFF;
}

.loading {
display: none;
}

.gallery {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px;
}

.load-more {
  display: none;
  width: 91px;
  height: 40px;
  color: #ffffff;
  background-color: #4E75FF;
  border: none;
  border-radius: 8px;
  margin: 0 auto;
}

.load-more:hover {
  background-color: #6C8CFF;
}